<launch>

    <arg name="project"       default="viralc"/>
    <arg name="publish_clock" default="--clock"/>
    <arg name="autorun"       default="false"/>

    <!-- NTU VIRAL dataset -->

    <!-- <arg  name="storage_name" default="mySDSSD"/> -->
    <arg  name="storage_name" default="mySataSSD"/>

    <!-- EEE -->
    <!-- <arg  name="bag_file"   default="/media/$(env USER)/$(arg storage_name)/DATASETS/NTU_VIRAL/eee_01/eee_01.bag"/> -->
    <!-- <arg  name="bag_file"   default="/media/$(env USER)/$(arg storage_name)/DATASETS/NTU_VIRAL/eee_02/eee_02.bag"/> -->
    <!-- <arg  name="bag_file"   default="/media/$(env USER)/$(arg storage_name)/DATASETS/NTU_VIRAL/eee_03/eee_03.bag"/> -->

    <!-- NYA -->
    <!-- <arg  name="bag_file"   default="/media/$(env USER)/$(arg storage_name)/DATASETS/NTU_VIRAL/nya_01/nya_01.bag"/> -->
    <!-- <arg  name="bag_file"   default="/media/$(env USER)/$(arg storage_name)/DATASETS/NTU_VIRAL/nya_02/nya_02.bag"/> -->
    <!-- <arg  name="bag_file"   default="/media/$(env USER)/$(arg storage_name)/DATASETS/NTU_VIRAL/nya_03/nya_03.bag"/> -->

    <!-- SBS -->
    <arg  name="bag_file"   default="/media/$(env USER)/$(arg storage_name)/DATASETS/NTU_VIRAL/sbs_01/sbs_01.bag"/>
    <!-- <arg  name="bag_file"   default="/media/$(env USER)/$(arg storage_name)/DATASETS/NTU_VIRAL/sbs_02/sbs_02.bag"/> -->
    <!-- <arg  name="bag_file"   default="/media/$(env USER)/$(arg storage_name)/DATASETS/NTU_VIRAL/sbs_03/sbs_03.bag"/> -->


    <!--- SAM MODULES-->
    <group if="true">

        <!-- Lidar odometry param -->
        <rosparam file="$(find lvi_sam)/config/ntuviral/params_lidar.yaml" command="load" />
        
        <!-- Lidar odometry -->
        <node pkg="lvi_sam"  type="lvi_sam_imuPreintegration" name="lvi_sam_imuPreintegration" output="screen" respawn="true"/>
        <node pkg="lvi_sam"  type="lvi_sam_imageProjection"   name="lvi_sam_imageProjection"   output="screen" respawn="true"/>
        <node pkg="lvi_sam"  type="lvi_sam_featureExtraction" name="lvi_sam_featureExtraction" output="screen" respawn="true"/>
        <node pkg="lvi_sam"  type="lvi_sam_mapOptmization"    name="lvi_sam_mapOptmization"    output="screen" respawn="true"/>

        <!-- VINS config -->
        <param name="vins_config_file" type="string" value="$(find lvi_sam)/config/ntuviral/params_camera.yaml" />

        <!-- Visual feature and odometry -->
        <node pkg="lvi_sam"  type="lvi_sam_visual_feature"    name="lvi_sam_visual_feature"    output="screen" respawn="true"/>
        <node pkg="lvi_sam"  type="lvi_sam_visual_odometry"   name="lvi_sam_visual_odometry"   output="screen" respawn="true"/>
        <node pkg="lvi_sam"  type="lvi_sam_visual_loop"       name="lvi_sam_visual_loop"       output="screen" respawn="true"/>

        <!-- IMU mod -->
        <node pkg="lvi_sam" type="lvi_sam_imuMod" name="lvi_sam_imuMod" output="screen" respawn="true">
            <param name="imu_topic"         type="string" value="/imu/imu" />
            <rosparam param="tf_Bold_Bnew"> [1,  0,  0, 0,
                                             0, -1,  0, 0,
                                             0,  0, -1, 0,
                                             0,  0,  0, 1]</rosparam>
        </node>
    </group>

    <!-- Image conversion -->
    <node pkg="image_transport" type="republish" name="lvi_sam_republish" args="compressed in:=/camera/image_raw raw out:=/camera/image_raw" output="screen" respawn="true"/>


    <!--- Run Rviz-->
    <node pkg="rviz" type="rviz" name="lvi_sam_rviz" args="-d $(find lvi_sam)/launch/rviz_ntuviral.rviz" />


    <!-- Playing the rosbag -->
    <node required="true" pkg="rosbag" type="play" name="rosbag_play"
          args="--clock $(arg bag_file)"/>

</launch>
